#partner{
}

#partner h1{
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0.4em;
    font-weight: 700;
    color: #303030;
}

#texts p {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.1;
    color: #3d3d3d;
    margin-bottom: 50px;
}

#partner_link{
    width: 80%;
    margin-left: 10%;
}

#partner_link ul{
    /* display: grid;
    grid-template-columns: auto 200px;
    justify-content: space-around;
    align-content: space-around */
    text-align: center;
}

#partner_link ul li{
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 20px;
}

#partner_link ul li a .part-logo{
    width: 120px;
    height: 60px;
}

#partner_link ul li a{
    display: inline-block;
    font-size: 30px;
}

#partner_link ul li a .part-logo img{
    display: inline-block;
    width: 100%;
    height: 100%;
}


/*  setting media query  */
@media only screen and (min-width: 750px) {
    #partner h1{
        font-size: 3.6em;
    }

    #partner_link ul{
        grid-template-columns: auto auto auto auto;
    }
}